[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nivo.bubblechart"]
	path = nivo.bubblechart
	url = https://github.com/dataraceredu/nivo.bubblechart
